<div id="top-panel">
    <div id="panel">
        <ul>
            <li><a href="#/user" class="useradd">Add user</a></li>
            <li><a href="#/usergroup" class="group">User groups</a></li>
            <li><a href="javascript:void(0)" class="online active">Users online</a></li>
        </ul>
    </div>
</div>
<div id="wrapper">
    <div id="content">
        <div id="box">
            <h3>Users online</h3>
            <table width="100%">
                <thead>
                <tr>
                    <th width="40px"></th>
                    <th><a href="javascript:void(0)">Username</a></th>
                    <th><a href="javascript:void(0)">Email</a></th>
                    <th width="70px"><a href="javascript:void(0)">Group</a></th>
                    <th><a href="javascript:void(0)">Address</a></th>
                    <th width="90px"><a href="javascript:void(0)">Registered</a></th>
                    <th width="60px"><a href="javascript:void(0)">Action</a></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in userOnlineCtrl.userOnline">
                    <td class="a-center">{{user.id}}</td>
                    <td><a href="javascript:void(0)">{{user.username}}</a></td>
                    <td>{{user.email}}</td>
                    <td>{{user.group}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.registered}}</td>
                    <td>
                        <a href="javascript:void(0)">
                            <img src="asserts/img/icons/user_edit.png" ng-click="userOnlineCtrl.showUser(user.id)"
                                 title="Edit user" width="16" height="16"/>
                        </a>
                        <a href="javascript:void(0)">
                            <img src="asserts/img/icons/user_delete.png" ng-click="userOnlineCtrl.deleteUser(user.id)"
                                 title="Delete user" width="16" height="16"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
    </div>
    <apt-sidebar></apt-sidebar>
</div>