<div id="top-panel">
    <div id="panel">
        <ul>
            <li><a href="#/categories" class="folder">Categories</a></li>
            <li><a href="#/brand" class="manage_page active">Brands</a></li>
            <li><a href="#/product" class="cart">Products</a></li>
            <li><a href="#" class="promotions">Promotions</a></li>
        </ul>
    </div>
</div>
<div id="wrapper">
    <div id="content">
        <div id="box">
            <h3>Brand</h3>
            <table width="100%">
                <thead>
                <tr>
                    <th width="40px">
                        <a href="javascript:void(0)">ID</a>
                    </th>
                    <th><a href="javascript:void(0)">Name</a></th>
                    <th width="60px"><a href="javascript:void(0)">Action</a></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="brand in brandCtrl.brands">
                    <td class="a-center"></td>
                    <td><a href="javascript:void(0)"></a></td>
                    <td>
                        <a href="javascript:void(0)">
                            <img src="asserts/img/icons/user_edit.png"
                                 ng-click="brandCtrl.editBrand(brand.id)"
                                 title="Edit user" width="16" height="16"/>
                        </a>
                        <a href="javascript:void(0)">
                            <img src="asserts/img/icons/user_delete.png"
                                 ng-click="brandCtrl.deleteBrand(brand.id)"
                                 title="Delete user" width="16" height="16"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="pager">
                Page <a ng-show="brandCtrl.currentPage > 1" href="javascript:void(0)"
                        ng-click="brandCtrl.movePage('previous')"><img src="asserts/img/icons/arrow_left.gif"
                                                                            width="16"
                                                                            height="16"/></a>
                <input ng-keypress="$event.keyCode == 13 && brandCtrl.movePage('specific')" size="1"
                       ng-model="brandCtrl.currentPage" type="text" name="page" id="page"/>
                <a ng-show="brandCtrl.currentPage < brandCtrl.totalPage" href="javascript:void(0)"
                   ng-click="brandCtrl.movePage('next')"><img
                        src="asserts/img/icons/arrow_right.gif" width="16" height="16"/></a>of
                {{brandCtrl.totalPage}}
                pages | View
                <select ng-model="brandCtrl.limitItemPerPage" ng-change="brandCtrl.changeLimitItemPerPage()">
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                </select>
                per page | Total <strong>{{brandCtrl.totalUser}}</strong> records found
            </div>
        </div>
        <br/>

        <div id="box">
            <h3 id="adduser">{{brandCtrl.formTitle}}</h3>

            <p class="adduser-notification">{{brandCtrl.notification}}</p>

            <form id="form" name="addUserForm" ng-submit="brandCtrl.saveBrand()">
                <fieldset id="personal">
                    <legend>BRAND INFORMATION</legend>
                    <input type="hidden" ng-model="brandCtrl.brand.id"/>
                    <label for="name">Name(*) : </label>
                    <input ng-blur="brandCtrl.validateField()" ng-model="brandCtrl.brand.name"
                           name="name" id="lastname" type="text" tabindex="1"/>
                    <span class="help-block adduser-notification">{{brandCtrl.validateNameNotification}}</span>
                    <br/>
                    <label for="name">Logo(*) : </label>
                    <input type="file" file-image name="logo"/>
                    <br />
                    <img src="{{srcImg}}"/>
                    <span class="help-block adduser-notification">{{imageUploadStatus}}</span>
                    <br/>
                </fieldset>
                <div align="center">(*) is required field</div>
                <br/>

                <div align="center">
                    <input id="button1" type="submit" value="Send"/>
                    <input id="button2" ng-click="brandCtrl.changeToAddBrand()" value="Change to add brand"/>
                </div>
            </form>
        </div>
    </div>
    <apt-sidebar></apt-sidebar>
</div>