<div id="top-panel">
    <div id="panel">
        <ul>
            <li><a href="#/categories" class="folder">Categories</a></li>
            <li><a href="#/brand" class="manage_page">Brands</a></li>
            <li><a href="#/product" class="cart active">Products</a></li>
            <li><a href="#" class="promotions">Promotions</a></li>
        </ul>
    </div>
</div>
<div id="wrapper">
    <div id="content">
        <div id="box">
            <h3>Products</h3>
            <table width="100%">
                <thead>
                <tr>
                    <th width="40px">
                        <a ng-click="productCtrl.sortItem('id')" href="javascript:void(0)">ID</a>
                    </th>
                    <th><a href="javascript:void(0)">Model</a></th>
                    <th><a href="javascript:void(0)">Name</a></th>
                    <th><a href="javascript:void(0)">Quantity</a></th>
                    <th><a href="javascript:void(0)">Price</a></th>
                    <th><a href="javascript:void(0)">Brand</a></th>
                    <th><a href="javascript:void(0)">Category</a></th>
                    <th><a href="javascript:void(0)">Status</a></th>
                    <th><a href="javascript:void(0)">Date Add</a></th>
                    <th width="60px"><a href="javascript:void(0)">Action</a></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in productCtrl.products">
                    <td class="a-center">{{product.id}}</td>
                    <td>{{product.model}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.brand_name}}</td>
                    <td>{{product.category_name}}</td>
                    <td>{{product.status}}</td>
                    <td>{{product.date_added}}</td>
                    <td>
                        <a href="javascript:void(0)">
                            <img src="asserts/img/icons/user_edit.png"
                                 ng-click="productCtrl.editProduct(product.id)"
                                 title="Edit user" width="16" height="16"/>
                        </a>
                        <a href="javascript:void(0)">
                            <img src="asserts/img/icons/user_delete.png"
                                 ng-click="productCtrl.deleteProduct(product.id)"
                                 title="Delete user" width="16" height="16"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="pager">
                Page <a ng-show="productCtrl.currentPage > 1" href="javascript:void(0)"
                        ng-click="productCtrl.movePage('previous')"><img src="asserts/img/icons/arrow_left.gif"
                                                                         width="16"
                                                                         height="16"/></a>
                <input ng-keypress="$event.keyCode == 13 && productCtrl.movePage('specific')" size="1"
                       ng-model="productCtrl.currentPage" type="text" name="page" id="page"/>
                <a ng-show="productCtrl.currentPage < productCtrl.totalPage" href="javascript:void(0)"
                   ng-click="productCtrl.movePage('next')"><img
                        src="asserts/img/icons/arrow_right.gif" width="16" height="16"/></a>of
                {{productCtrl.totalPage}}
                pages | View
                <select ng-model="productCtrl.limitItemPerPage" ng-change="productCtrl.changeLimitItemPerPage()">
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                </select>
                per page | Total <strong>{{productCtrl.totalUser}}</strong> records found
            </div>
        </div>
        <br/>

        <div id="box">
            <h3 id="adduser">{{(productCtrl.formTitle) ? productCtrl.formTitle : 'Add new product'}}</h3>

            <p class="adduser-notification">{{productCtrl.notification}}</p>

            <form id="form" name="addProductForm" ng-submit="productCtrl.saveProduct()">
                <fieldset id="personal">
                    <legend>PRODUCT INFORMATION</legend>
                    <input type="hidden" ng-model="productCtrl.product.id"/>
                    <label>Name(*) : </label>
                    <input ng-blur="productCtrl.validateField()" ng-model="productCtrl.product.name"
                           name="name" id="lastname" type="text" tabindex="1"/>
                    <br/>
                    <label>Model(*) : </label>
                    <input type="text" ng-model="productCtrl.product.model"/>
                    <br/>
                    <label>Price(*) : </label>
                    <input type="text" ng-model="productCtrl.product.price"/>
                    <br/>
                    <label>Quantity(*) : </label>
                    <input type="text" ng-model="productCtrl.product.quantity"/>
                    <br/>
                    <div ng-repeat="imageName in productCtrl.imageNames track by $index">
                        <label>Image {{$index + 1}}(*) : </label>
                        <div class="imageDisplay">
                            <input type="file" file-image name="image"/>
                            <span>
                                <a href="javascript:void(0)" ng-click="productCtrl.delImageInput($index)">Delete</a>
                            </span>
                            <br />
                            <img ng-show="srcImg || imageName" ng-src="{{(srcImg) ? srcImg : imageName}}"/> 
                            <span class="help-block adduser-notification">{{imageUploadStatus}}</span>
                        </div>
                        <br/>
                    </div>
                    <label></label><input type="button" value="More Image" ng-click="productCtrl.addImageInput()"/>
                    <br/>
                    <label>Brand(*) : </label>
                    <select name="choice" ng-model="productCtrl.product.brand_id">
                        <option value="">-- Select a Brand --</option>
                        <option ng-repeat="brand in productCtrl.brands" value="{{brand.id}}">{{brand.name}}</option>
                    </select>
                    <br/>
                    <label>Category(*) : </label>
                    <select name="choice" ng-model="productCtrl.product.category_id">
                        <option value="">-- Select a Category --</option>
                        <option ng-repeat="category in productCtrl.categories" value="{{category.id}}">{{category.name}}</option>
                    </select>
                    <br/>
                    <label>Status : </label>
                    <select name="choice" ng-model="productCtrl.product.status">
                        <option label="-- Select a Status --" value="">-- Select a Status --</option>
                        <option label="Available" value="available">Available</option>
                        <option label="Stop Selling" value="stop">Stop Selling</option>
                        <option label="Out of stock" value="out-of-stock">Out of stock</option>
                    </select>
                </fieldset>
                <div align="center">(*) is required field</div>
                <br/>

                <div align="center">
                    <input id="button1" type="submit" value="Send"/>
                    <input id="button2" ng-click="productCtrl.changeToAddCat()" value="Change to add product"/>
                </div>
            </form>
        </div>
    </div>
    <apt-sidebar></apt-sidebar>
</div>